#============= kernel ==============
allow kernel priv_app:process setsched;
allow kernel system_app:process setsched;
allow kernel untrusted_app:process setsched;
allow kernel debuggerd:process setsched;
allow kernel gatekeeperd:process setsched;
allow kernel lmkd:process setsched;
allow kernel logd:process setsched;
allow kernel mm-qcamerad:process setsched;
allow kernel msm_irqbalanced:process setsched;
allow kernel perfd:process setsched;
allow kernel perfprofd:process setsched;
allow kernel platform_app:process setsched;
allow kernel servicemanager:process setsched;
allow kernel surfaceflinger:process setsched;
allow kernel untrusted_app:fd use;
allow kernel untrusted_app_tmpfs:file write;
