import init.recovery.twrp.rc

on fs
    wait /dev/block/platform/soc.0/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc.0/${ro.boot.bootdevice} /dev/block/bootdevice

on enable-low-power
    start qcom-mem

    write /proc/sys/kernel/sched_boost 1

    # RPS mask
    write /sys/class/net/rmnet0/queues/rx-0/rps_cpus 10

    # HMP scheduler load tracking settings
    write /proc/sys/kernel/sched_window_stats_policy 2
    write /proc/sys/kernel/sched_ravg_hist_size 5

    # HMP Task packing settings for 8939, 8929
    write /proc/sys/kernel/sched_small_task 20
    write /proc/sys/kernel/sched_mostly_idle_load 30
    write /proc/sys/kernel/sched_mostly_idle_nr_run 3

    write /sys/class/devfreq/cpubw/governor "bw_hwmon"
    write /sys/class/devfreq/cpubw/bw_hwmon/io_percent 20
    write /sys/class/devfreq/gpubw/bw_hwmon/io_percent 40
    write /sys/class/devfreq/mincpubw/governor "cpufreq"

    # Disable thermal core_control to update interactive gov settings
    write /sys/module/msm_thermal/core_control/enabled 0

    # Enable governor for perf cluster
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay "40000 345600:30000 400000:40000 533333:50000 800000:60000 960000:70000 1113600:70000 1344000:80000 1459000:90000"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 111
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 40000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 200000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads "70 345600:73 400000:75 533333:80 800000:95 960000:90 1113600:95 1344000:98 1459000:99"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 200000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/fast_ramp_down 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_slack 20000

    # Enable governor for power cluster
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "40000 249600:27000 499200:30000 800000:45000 998400:55000 1113600:70000"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 111
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 200000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "50 249600:60 499200:70 800000:80 998400:90 1113600:95"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 200000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/fast_ramp_down 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 20000

    # Enable thermal core_control now
    write /sys/module/msm_thermal/core_control/enabled 1

    # Enable core control
    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 0
    write /sys/devices/system/cpu/cpu0/core_ctl/max_cpus 4
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_up_thres 90
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_down_thres 77
    write /sys/devices/system/cpu/cpu0/core_ctl/offline_delay_ms "400 400 100 100"
    write /sys/devices/system/cpu/cpu0/core_ctl/online_delay_ms "1000 3000 3000 3000"
    write /sys/devices/system/cpu/cpu0/core_ctl/task_thres 4
    write /sys/devices/system/cpu/cpu0/core_ctl/is_big_cluster 1

    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 2
    write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus 4
    write /sys/devices/system/cpu/cpu4/core_ctl/busy_up_thres 5
    write /sys/devices/system/cpu/cpu4/core_ctl/busy_down_thres 4

    chown system:system /sys/devices/system/cpu/cpu4/core_ctl/min_cpus
    chown system:system /sys/devices/system/cpu/cpu4/core_ctl/max_cpus
    chown system:system /sys/devices/system/cpu/cpu0/core_ctl/min_cpus
    chown system:system /sys/devices/system/cpu/cpu0/core_ctl/max_cpus

    # HMP scheduler (big.Little cluster related) settings
    write /proc/sys/kernel/sched_boost 0
    write /proc/sys/kernel/sched_upmigrate 87
    write /proc/sys/kernel/sched_downmigrate 85

    # Android background processes are set to nice 10. Never schedule these on the a72s.
    write /proc/sys/kernel/sched_upmigrate_min_nice 9

    # Bring all CPUs online
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # Enable low power modes
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

    # disable wakelocks
    write /sys/module/wakeup/parameters/enable_qcom_rx_wakelock_ws 0
    write /sys/module/wakeup/parameters/enable_wlan_extscan_wl_ws 0
    write /sys/module/wakeup/parameters/enable_ipa_ws 0
    write /sys/module/wakeup/parameters/enable_wlan_ws 0
    write /sys/module/wakeup/parameters/enable_timerfd_ws 0
    write /sys/module/wakeup/parameters/enable_netlink_ws 0
    write /sys/module/wakeup/parameters/enable_netmgr_wl_ws 0
    write /sys/module/wakeup/parameters/enable_wlan_pno_wl_ws 0
    write /sys/module/wakeup/parameters/enable_wcnss_filter_lock_ws 0

    rm /data/system/perfd/default_values
    start perfd

    # Re-enable BCL hotplug
    write /sys/devices/soc.0/qcom,bcl.56/mode "disable"
    write /sys/devices/soc.0/qcom,bcl.56/hotplug_mask 48
    write /sys/devices/soc.0/qcom,bcl.56/hotplug_soc_mask 32
    write /sys/devices/soc.0/qcom,bcl.56/mode "enable"

    # Enable timer migration to little cluster
    write /proc/sys/kernel/power_aware_timer_migration 1

    # Enable sched colocation and colocation inheritance
    write /proc/sys/kernel/sched_grp_upmigrate 130
    write /proc/sys/kernel/sched_grp_downmigrate 110
    write /proc/sys/kernel/sched_enable_thread_grouping 1

    # additional sched 
    write /proc/sys/kernel/sched_spill_nr_run 3
    write /proc/sys/kernel/sched_init_task_load 30

    # disable touch boost
    write /sys/module/msm_performance/parameters/touchboost 0

    # set cpu_boost parameters
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1017600 1:0 2:0 3:0 4:0 5:0"
    write /sys/module/cpu_boost/parameters/input_boost_ms 200
    write /proc/sys/kernel/sched_upmigrate_min_nice 15

    # set (super) packing parameters
    write /sys/devices/system/cpu/cpu0/sched_mostly_idle_freq 400000
    write /sys/devices/system/cpu/cpu4/sched_mostly_idle_freq 400000

    # Enable adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 81250

    chmod 0660 /sys/module/lowmemorykiller/parameters/minfree
    write /sys/module/lowmemorykiller/parameters/minfree "14746,18432,22118,25805,40000,55000"

on charger
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"

on property:init.svc.recovery=running
    trigger enable-low-power

on property:dev.bootcomplete=1
    trigger enable-low-power
    setprop sys.io.scheduler bfq

    # Update foreground and background cpusets
    # Reserve CPU 7 for the top app
    write /dev/cpuset/foreground/cpus 4-6,0-1
    write /dev/cpuset/foreground/boost/cpus 0-1
    write /dev/cpuset/background/cpus 7
    write /dev/cpuset/system-background/cpus 4-6
    write /dev/cpuset/top-app/cpus 0-5
    write /dev/cpuset/camera-daemon/cpus 4-7
    write /dev/cpuset/restricted/cpus 4-7

    setprop vendor.post_boot.parsed 1

